 body {
            padding-top: 50px;
            padding-bottom: 40px;
            color: #5a5a5a;
			background-color:#eee;
        }
	
	.panel-body {
	      padding-right:10px;
		  padding-left:10px;
	}
	#containerTwo {
	  padding-top:10px;
	}
	#updatePlanBtn {
	  padding-left:50px;
	}
	#tableA>tr>td {
	  margin-left:2px;
	}
	.bottomA{
						position: absolute;
						bottom: 10px;
						width: 100%;
						clear:both;
						padding:10px;
					}
     #buttonA {
	     margin:10px;
	 
	 }
	 #selectA {
	 
	   margin:5px;
	 }